
/*Custom Styles for 315chelsea.com
Author: Colby Jarrell
© 2016 Colby Jarrell | //ColbyJCreative.com*/

/*Typography*/

blockquote,
body,
h1 {
    line-height: 1.5
}
@font-face{
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Lato', sans-serif;
}
body{
  font-family: 'Lato', sans-serif;
}
h1,h2{
  font-family: 'Julius Sans One', sans-serif;
}
body,
h3,
h4,
h5,
h6,{
  font-family: 'Lato', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: .25
}

body {
    font-size: 1em
}

@media (min-width:43.75em) {
    body {
        font-size: 1em;
        line-height: 1.375
    }
}

h1 {
    font-size: 1.25em
}

@media (min-width:43.75em) {
    h1 {
        font-size: 1.75em;
        line-height: 1.125
    }
}

@media (min-width:56.25em) {
    h1 {
        font-size: 2em;
        line-height: 1.05
    }
}

h2 {
    font-size: 2em;
    line-height: .75
}

@media (min-width:43.75em) {
    h2 {
        font-size: 2.5em;
        line-height: 1
    }
}

@media (min-width:56.25em) {
    h2 {
        font-size: 2.75em;
        line-height: 1
    }
}

h3 {
    font-size: 1.75em;
    line-height: 1.13636364
}

@media (min-width:43.75em) {
    h3 {
        font-size: 1.5em;
        line-height: 1.1
    }
}

@media (min-width:56.25em) {
    h3 {
        font-size: 2.75em;
        line-height: 1.5
    }
}

h4 {
    font-size: 1.5em;
    line-height: 1.6
}


blockquote {
    font-size: 1.5em
}

@media (min-width:43.75em) {
    h4 {
        line-height: 1.22222222
    }
    blockquote {
        font-size: 1.5em;
        line-height: 1.45833333
    }
}
p {
    font-size: 1em;
    line-height: 1.13636364
}

@media (min-width:43.75em) {
    p {
        font-size: 1em;
        line-height: 1.1
    }
}

@media (min-width:56.25em) {
    p {
        font-size: 1.5em;
        line-height: 1.6
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0
}

ol,
p,
ul {
    margin: 0
}
/*specified type classes*/
h1.main-header{
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
  font-family: 'Julius Sans One', sans-serif;
}
p.copyright{
  font-size: 1.5em;
  line-height: 1.65em;
}
h1.adams-red{
  color: #cc3232;
}
h2.adams-red{
  color: #cc3232;
}
h3.adams-red{
  color: #cc3232;
}
h4.adams-red{
  color: #cc3232;
}
h5.adams-red{
  color: #cc3232;
}
h6.adams-red{
  color: #cc3232;
}
p.adams-red{
  color: #cc3232;
}
p.black{
  color:;
}
h2.soft-sub-head{
  color:#828282;
  font-family: 'Lato', sans-serif;
}
a.adams-red{
  color: #cc3232;
}
span.adams-red{
  color: #cc3232;
}
.liner{
  border: .1px solid #cc3232;
  width: 120px;
  height: .75px;
  display: inline-block;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px
}
/*Splash Page*/
section#header{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  max-height: 850px !important;
  
}

.carousel-caption{
  

  border-top: .25px solid #cc3232;
  border-bottom: .25px solid #cc3232;
  background: rgba(255,255,255,.65);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 170px !important;
  opacity:1;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}
.carousel-caption:hover{
  opacity:0;
}
.carousel-caption > p{
  color: #222222 !important;
}
/*.splash-bg{
  background-color: white;

}*/
section#about{
  margin:25px;
  padding-top: 3em;
  padding-bottom: 2em;
  border-top: .25px solid #cc3232;

}
section#secondary-carousel{
  padding-bottom: 7em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,6d0019+100,ffffff+100 */
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8f8f8 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
section#design{
background-color: #ffffff;
padding: 15px;
}
section#specs{
  background-color: #f8f8f8;
  padding: 15px;
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}
.logo-container{
  padding: 0px !important;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover

}
.brand-trans{
  border-top: .25px solid #cc3232;
  border-bottom: .25px solid #cc3232;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  max-height: 65%;
  margin: 0 auto;
  background: #ffffff;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%
}

.trans-padding{
  padding: 25px;
}


.realtor{
  padding-top: 5px;
}
.realtor-img{
  padding: 5px;
  border: .5px solid #cc3232;
  display: inline-block;
}
/*Contact Styles*/
section#contact{
  margin-top: 100px;
}
section#contact .g-form{
    padding: 0 !important;
    box-shadow: 0 0 4px #fff;
    -webkit-box-shadow: 0 0 4px #fff;
    -moz-box-shadow: 0 0 4px #fff;
    -o-box-shadow:0 0 4px #fff;
    display: block;
    height:1460px;
    transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,-65,0,1);
    -webkit-transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,-65,0,1);
}
/*Copyright*/
#copyright{
  padding-top: 25px;
  padding-bottom: 25px;
}

